In [1]:
from old_code.dataset import *
import tensorflow as tf
from MLP import *

2025-07-02 20:45:26.059755: I tensorflow/core/util/port.cc:110] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2025-07-02 20:45:26.101830: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2025-07-02 20:45:26.922184: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [ ]:
%load_ext autoreload
%autoreload 2

In [3]:
# Test training LinearModel on 2024-08-21 data
import pickle
import os
import numpy as np
from old_code.dataset import get_scaled_split_data
from MLP import MLP
from Model import Model
from Model import EnsembleModel
import pandas as pd
from Dataset import Dataset

In [6]:

df=pd.DataFrame({
    'A': [1, 2, 3],
    'b': [1, 1, 3],
    'B': [1, 4, 3],
    'a': [1, 9, 3],
})
df

   A  b  B  a
0  1  1  1  1
1  2  1  4  9
2  3  3  3  3

In [11]:
!ls "../Features"

2024-04-15  2024-08-21	2025-01-04  2025-05-09	2025-05-25

In [4]:

ds = Dataset("../Features/2024-08-21", "../Features/2024-08-21")

In [43]:
type(ml[1])

str

In [72]:
ds.yCC

cell_num  cycle
1         2        0.144482
          2        0.144440
          2        0.144396
          2        0.144356
          2        0.144332
                     ...
55        21      -0.107454
          21      -0.107569
          21      -0.107619
          21      -0.107538
          21      -0.107533
Name: NEP, Length: 9785838, dtype: float64

In [35]:
df = ds.xCC
ml = ds.masterList

In [57]:
x_tr = df_with_label.loc[pd.IndexSlice[1, 2], :]

In [82]:
by = 'c-rate'
x_tr, y_tr, x_te, y_te = ds.split(by=by, test_ids=['0.33', '0.5'])
print('x_train: ', np.unique(x_tr.index.get_level_values(by)))
print('x_test: ', np.unique(x_te.index.get_level_values(by)))

x_train:  ['0.8' '1' 'stepped']
x_test:  ['0.33' '0.5']

In [84]:
by = 'cycle'
x_tr, y_tr, x_te, y_te = ds.split(by=by, test_ids=[10, 15, 26, 40, 44])
print('x_train: ', np.unique(x_tr.index.get_level_values(by)))
print('x_test: ', np.unique(x_te.index.get_level_values(by)))

x_train:  [  2   3   4   5   6   7   8   9  11  12  13  14  16  17  18  19  20  21
  22  23  24  25  27  28  29  30  31  32  33  34  35  36  37  38  39  41
  42  43  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60
  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78
  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96
  97  98  99 100]
x_test:  [10 15 26 40 44]

In [85]:
by = 'cell_num'
x_tr, y_tr, x_te, y_te = ds.split(by=by, test_ids=[10, 15, 26, 40, 44])
print('x_train: ', np.unique(x_tr.index.get_level_values(by)))
print('x_test: ', np.unique(x_te.index.get_level_values(by)))

x_train:  [ 1  2  3  4  5  6  7  8  9 11 12 13 14 16 17 18 19 20 21 22 23 24 25 27
 28 29 30 31 32 33 34 35 36 37 38 39 41 42 43 45 46 47 48 49 50 51 52 53
 54 55]
x_test:  [10 15 26 40 44]

In [78]:
ds = Dataset("../Features/2024-08-21", "../Features/2024-08-21")

ds.xCC.loc[1]

,Voltage,Current,Throughput,Energy,Capacity,Time,Overpotential,dQ_dV,dVoltage/dt,dEnergy/dt,...,Energy-2,Capacity-2,Time-2,Overpotential-2,dQ_dV-2,dVoltage/dt-2,dEnergy/dt-2,dCapacity/dt-2,dOverpotential/dt-2,Power-2
cycle,,,,,,,,,,,,,,,,,,,,,
2,3.301722,0.00106,11.096774,17.887097,11.096774,1167.1410,0.015730,0.000000,0.000112,0.016129,...,17.854839,11.064516,1165.1409,0.015911,0.000000,0.000056,0.016129,0.000000,0.000056,0.003500
2,3.301717,0.00106,11.096774,17.903226,11.096774,1168.1410,0.015725,0.000000,-0.000005,0.016129,...,17.870968,11.096774,1166.1409,0.015618,0.000000,0.000023,0.016129,0.032258,-0.000293,0.003500
2,3.301807,0.00106,11.096774,17.919355,11.096774,1169.1410,0.015815,129.032258,0.000090,0.016129,...,17.887097,11.096774,1167.1410,0.015730,0.000000,0.000112,0.016129,0.000000,0.000112,0.003500
2,3.301815,0.00106,11.129032,17.935484,11.129032,1170.1410,0.015506,193.548387,0.000008,0.016129,...,17.903226,11.096774,1168.1410,0.015725,0.000000,-0.000005,0.016129,0.000000,-0.000005,0.003500
2,3.301893,0.00106,11.129032,17.951613,11.129032,1171.1412,0.015584,193.548387,0.000078,0.016129,...,17.919355,11.096774,1169.1410,0.015815,129.032258,0.000090,0.016129,0.000000,0.000090,0.003500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,3.596219,0.00106,18094.741935,153.096774,90.225806,9499.0352,0.050599,0.000000,0.000620,0.016129,...,153.064516,90.225806,9497.0350,0.049400,64.516129,0.000625,0.016129,0.032258,0.000625,0.003811
100,3.596782,0.00106,18094.774193,153.129032,90.258065,9500.0353,0.051162,64.516129,0.000563,0.032258,...,153.080645,90.225806,9498.0350,0.049979,0.000000,0.000579,0.016129,0.000000,0.000579,0.003811
100,3.597374,0.00106,18094.774193,153.145161,90.258065,9501.0355,0.051754,0.000000,0.000592,0.016129,...,153.096774,90.225806,9499.0352,0.050599,0.000000,0.000620,0.016129,0.000000,0.000620,0.003812
100,3.597946,0.00106,18094.774193,153.161290,90.258065,9502.0355,0.052326,0.000000,0.000572,0.016129,...,153.129032,90.258065,9500.0353,0.051162,64.516129,0.000563,0.032258,0.032258,0.000563,0.003813
100,3.598609,0.00106,18094.806452,153.177419,90.290323,9503.0356,0.052989,64.516129,0.000663,0.016129,...,153.145161,90.258065,9501.0355,0.051754,0.000000,0.000592,0.016129,0.000000,0.000592,0.003813

In [67]:
a = [:, :, :]

SyntaxError: invalid syntax (2597501884.py, line 1)

In [49]:
df_with_label

                         Voltage  Current   Throughput      Energy   Capacity  \
cell_num cycle c-rate
1        2     0.33     3.301722  0.00106    11.096774   17.887097  11.096774
               0.33     3.301717  0.00106    11.096774   17.903226  11.096774
               0.33     3.301807  0.00106    11.096774   17.919355  11.096774
               0.33     3.301815  0.00106    11.129032   17.935484  11.129032
               0.33     3.301893  0.00106    11.129032   17.951613  11.129032
...                          ...      ...          ...         ...        ...
55       21    stepped  3.598121  0.00159  2868.000000  128.387097  74.129032
               stepped  3.598300  0.00159  2868.032258  128.419355  74.161290
               stepped  3.598487  0.00159  2868.032258  128.435484  74.161290
               stepped  3.598670  0.00159  2868.032258  128.467742  74.161290
               stepped  3.598896  0.00159  2868.064516  128.483871  74.193548

                             Time  Overpotential       dQ_dV  dVoltage/dt  \
cell_num cycle c-rate
1        2     0.33     1167.1410       0.015730    0.000000     0.000112
               0.33     1168.1410       0.015725    0.000000    -0.000005
               0.33     1169.1410       0.015815  129.032258     0.000090
               0.33     1170.1410       0.015506  193.548387     0.000008
               0.33     1171.1412       0.015584  193.548387     0.000078
...                           ...            ...         ...          ...
55       21    stepped  3962.4263       0.193683   64.516129     0.000142
               stepped  3963.4271       0.193809  129.032258     0.000179
               stepped  3964.4273       0.193996   64.516129     0.000187
               stepped  3965.4272       0.194179   64.516129     0.000183
               stepped  3966.4272       0.194316   64.516129     0.000226

                        dEnergy/dt  ...    Energy-2  Capacity-2     Time-2  \
cell_num cycle c-rate               ...
1        2     0.33       0.016129  ...   17.854839   11.064516  1165.1409
               0.33       0.016129  ...   17.870968   11.096774  1166.1409
               0.33       0.016129  ...   17.887097   11.096774  1167.1410
               0.33       0.016129  ...   17.903226   11.096774  1168.1410
               0.33       0.016129  ...   17.919355   11.096774  1169.1410
...                            ...  ...         ...         ...        ...
55       21    stepped    0.016129  ...  128.338710   74.096774  3960.4258
               stepped    0.032258  ...  128.370968   74.129032  3961.4260
               stepped    0.016129  ...  128.387097   74.129032  3962.4263
               stepped    0.032258  ...  128.419355   74.161290  3963.4271
               stepped    0.016129  ...  128.435484   74.161290  3964.4273

                        Overpotential-2     dQ_dV-2  dVoltage/dt-2  \
cell_num cycle c-rate
1        2     0.33            0.015911    0.000000       0.000056
               0.33            0.015618    0.000000       0.000023
               0.33            0.015730    0.000000       0.000112
               0.33            0.015725    0.000000      -0.000005
               0.33            0.015815  129.032258       0.000090
...                                 ...         ...            ...
55       21    stepped         0.193398   64.516129       0.000205
               stepped         0.193541  129.032258       0.000186
               stepped         0.193683   64.516129       0.000142
               stepped         0.193809  129.032258       0.000179
               stepped         0.193996   64.516129       0.000187

                        dEnergy/dt-2  dCapacity/dt-2  dOverpotential/dt-2  \
cell_num cycle c-rate
1        2     0.33         0.016129        0.000000             0.000056
               0.33         0.016129        0.032258            -0.000293
               0.33         0.016129        0.000000             0.000112
               0.33         0.016129        0.000000            -0.000005
               0.33         0.016129        0.000000             0.000090
...                              ...             ...                  ...
55       21    stepped      0.032258        0.000000             0.000205
               stepped      0.032258        0.032258             0.000143
               stepped      0.016129        0.000000             0.000142
               stepped      0.032258        0.032258             0.000126
               stepped      0.016129        0.000000             0.000187

                         Power-2
cell_num cycle c-rate
1        2     0.33     0.003500
               0.33     0.003500
               0.33     0.003500
               0.33     0.003500
               0.33     0.003500
...                          ...
55       21    stepped  0.005720
               stepped  0.005721
               stepped  0.005721
               stepped  0.005721
               stepped  0.005722

[9785838 rows x 65 columns]

In [46]:
train

['0.33', '0.5', '1', 'stepped']

In [37]:
cell_nums = df.index.get_level_values("cell_num")
labels = cell_nums.map(ml)
new_index = pd.MultiIndex.from_arrays(
    [
        df.index.get_level_values("cell_num"),
        df.index.get_level_values("cycle"),
        labels
    ],
    names=["cell_num", "cycle", "c-rate"]
)
df_with_label = df.copy()
df_with_label.index = new_index
df_with_label

                         Voltage  Current   Throughput      Energy   Capacity  \
cell_num cycle c-rate
1        2     0.33     3.301722  0.00106    11.096774   17.887097  11.096774
               0.33     3.301717  0.00106    11.096774   17.903226  11.096774
               0.33     3.301807  0.00106    11.096774   17.919355  11.096774
               0.33     3.301815  0.00106    11.129032   17.935484  11.129032
               0.33     3.301893  0.00106    11.129032   17.951613  11.129032
...                          ...      ...          ...         ...        ...
55       21    stepped  3.598121  0.00159  2868.000000  128.387097  74.129032
               stepped  3.598300  0.00159  2868.032258  128.419355  74.161290
               stepped  3.598487  0.00159  2868.032258  128.435484  74.161290
               stepped  3.598670  0.00159  2868.032258  128.467742  74.161290
               stepped  3.598896  0.00159  2868.064516  128.483871  74.193548

                             Time  Overpotential       dQ_dV  dVoltage/dt  \
cell_num cycle c-rate
1        2     0.33     1167.1410       0.015730    0.000000     0.000112
               0.33     1168.1410       0.015725    0.000000    -0.000005
               0.33     1169.1410       0.015815  129.032258     0.000090
               0.33     1170.1410       0.015506  193.548387     0.000008
               0.33     1171.1412       0.015584  193.548387     0.000078
...                           ...            ...         ...          ...
55       21    stepped  3962.4263       0.193683   64.516129     0.000142
               stepped  3963.4271       0.193809  129.032258     0.000179
               stepped  3964.4273       0.193996   64.516129     0.000187
               stepped  3965.4272       0.194179   64.516129     0.000183
               stepped  3966.4272       0.194316   64.516129     0.000226

                        dEnergy/dt  ...    Energy-2  Capacity-2     Time-2  \
cell_num cycle c-rate               ...
1        2     0.33       0.016129  ...   17.854839   11.064516  1165.1409
               0.33       0.016129  ...   17.870968   11.096774  1166.1409
               0.33       0.016129  ...   17.887097   11.096774  1167.1410
               0.33       0.016129  ...   17.903226   11.096774  1168.1410
               0.33       0.016129  ...   17.919355   11.096774  1169.1410
...                            ...  ...         ...         ...        ...
55       21    stepped    0.016129  ...  128.338710   74.096774  3960.4258
               stepped    0.032258  ...  128.370968   74.129032  3961.4260
               stepped    0.016129  ...  128.387097   74.129032  3962.4263
               stepped    0.032258  ...  128.419355   74.161290  3963.4271
               stepped    0.016129  ...  128.435484   74.161290  3964.4273

                        Overpotential-2     dQ_dV-2  dVoltage/dt-2  \
cell_num cycle c-rate
1        2     0.33            0.015911    0.000000       0.000056
               0.33            0.015618    0.000000       0.000023
               0.33            0.015730    0.000000       0.000112
               0.33            0.015725    0.000000      -0.000005
               0.33            0.015815  129.032258       0.000090
...                                 ...         ...            ...
55       21    stepped         0.193398   64.516129       0.000205
               stepped         0.193541  129.032258       0.000186
               stepped         0.193683   64.516129       0.000142
               stepped         0.193809  129.032258       0.000179
               stepped         0.193996   64.516129       0.000187

                        dEnergy/dt-2  dCapacity/dt-2  dOverpotential/dt-2  \
cell_num cycle c-rate
1        2     0.33         0.016129        0.000000             0.000056
               0.33         0.016129        0.032258            -0.000293
               0.33         0.016129        0.000000             0.000112
               0.33         0.016129        0.000000            -0.000005
               0.33         0.016129        0.000000             0.000090
...                              ...             ...                  ...
55       21    stepped      0.032258        0.000000             0.000205
               stepped      0.032258        0.032258             0.000143
               stepped      0.016129        0.000000             0.000142
               stepped      0.032258        0.032258             0.000126
               stepped      0.016129        0.000000             0.000187

                         Power-2
cell_num cycle c-rate
1        2     0.33     0.003500
               0.33     0.003500
               0.33     0.003500
               0.33     0.003500
               0.33     0.003500
...                          ...
55       21    stepped  0.005720
               stepped  0.005721
               stepped  0.005721
               stepped  0.005721
               stepped  0.005722

[9785838 rows x 65 columns]

In [32]:
un = np.unique(new_index)

In [41]:
for cell_num, cycle, crate in un:
    if ml[cell_num] != crate:
        print("error")
        print(cell_num, cycle, crate)
        print()
print("sall good")

sall good

In [39]:
ml[1]

'0.33'

In [22]:
type(ml)

pandas.core.series.Series

In [44]:
from sklearn.preprocessing import RobustScaler

data1 = np.random.rand(100,1)
data2 = np.random.rand(100,1)
data1c = np.array([a for a in data1])

r1 = RobustScaler()
r2 = RobustScaler()

r1.fit(data1)
r2.fit(data2)

print(np.max(np.abs(r2.transform(data1) - r2.transform(r1.transform(data1)) )))

2.022759447906666

In [ ]:
from Dataset import Dataset

ds = Dataset('../Features/2024-08-21')

In [68]:
ds.xCC.head()

                 Voltage  Current  Throughput     Energy   Capacity  \
cell_num cycle
1        2      3.301722  0.00106   11.096774  17.887097  11.096774
         2      3.301717  0.00106   11.096774  17.903226  11.096774
         2      3.301807  0.00106   11.096774  17.919355  11.096774
         2      3.301815  0.00106   11.129032  17.935484  11.129032
         2      3.301893  0.00106   11.129032  17.951613  11.129032

                     Time  Overpotential       dQ_dV  dVoltage/dt  dEnergy/dt  \
cell_num cycle
1        2      1167.1410       0.015730    0.000000     0.000112    0.016129
         2      1168.1410       0.015725    0.000000    -0.000005    0.016129
         2      1169.1410       0.015815  129.032258     0.000090    0.016129
         2      1170.1410       0.015506  193.548387     0.000008    0.016129
         2      1171.1412       0.015584  193.548387     0.000078    0.016129

                ...  Capacity-2     Time-2  Overpotential-2     dQ_dV-2  \
cell_num cycle  ...
1        2      ...   11.064516  1165.1409         0.015911    0.000000
         2      ...   11.096774  1166.1409         0.015618    0.000000
         2      ...   11.096774  1167.1410         0.015730    0.000000
         2      ...   11.096774  1168.1410         0.015725    0.000000
         2      ...   11.096774  1169.1410         0.015815  129.032258

                dVoltage/dt-2  dEnergy/dt-2  dCapacity/dt-2  \
cell_num cycle
1        2           0.000056      0.016129        0.000000
         2           0.000023      0.016129        0.032258
         2           0.000112      0.016129        0.000000
         2          -0.000005      0.016129        0.000000
         2           0.000090      0.016129        0.000000

                dOverpotential/dt-2  Power-2  shifted_NEP
cell_num cycle
1        2                 0.000056   0.0035     0.000000
         2                -0.000293   0.0035     0.144482
         2                 0.000112   0.0035     0.144440
         2                -0.000005   0.0035     0.144396
         2                 0.000090   0.0035     0.144356

[5 rows x 66 columns]

In [69]:
ds.xCC.columns

Index(['Voltage', 'Current', 'Throughput', 'Energy', 'Capacity', 'Time',
       'Overpotential', 'dQ_dV', 'dVoltage/dt', 'dEnergy/dt', 'dCapacity/dt',
       'dOverpotential/dt', 'Power', 'Voltage-8', 'Current-8', 'Throughput-8',
       'Energy-8', 'Capacity-8', 'Time-8', 'Overpotential-8', 'dQ_dV-8',
       'dVoltage/dt-8', 'dEnergy/dt-8', 'dCapacity/dt-8',
       'dOverpotential/dt-8', 'Power-8', 'Voltage-6', 'Current-6',
       'Throughput-6', 'Energy-6', 'Capacity-6', 'Time-6', 'Overpotential-6',
       'dQ_dV-6', 'dVoltage/dt-6', 'dEnergy/dt-6', 'dCapacity/dt-6',
       'dOverpotential/dt-6', 'Power-6', 'Voltage-4', 'Current-4',
       'Throughput-4', 'Energy-4', 'Capacity-4', 'Time-4', 'Overpotential-4',
       'dQ_dV-4', 'dVoltage/dt-4', 'dEnergy/dt-4', 'dCapacity/dt-4',
       'dOverpotential/dt-4', 'Power-4', 'Voltage-2', 'Current-2',
       'Throughput-2', 'Energy-2', 'Capacity-2', 'Time-2', 'Overpotential-2',
       'dQ_dV-2', 'dVoltage/dt-2', 'dEnergy/dt-2', 'dCapacity/dt-2',
       'dOverpotential/dt-2', 'Power-2', 'shifted_NEP'],
      dtype='object')

In [79]:
ds = Dataset('../Features/2024-08-21')
ds.subsample(int(3e6))
ds.xCC.tail()

                 Voltage  Current   Throughput      Energy   Capacity  \
cell_num cycle
5        26     3.539944  0.00159  4494.677419  148.129032  87.064516
         26     3.540077  0.00159  4494.677419  148.145161  87.064516
         26     3.540275  0.00159  4494.709677  148.177419  87.096774
         26     3.540527  0.00159  4494.709677  148.193548  87.096774
         26     3.540710  0.00159  4494.741935  148.225806  87.129032

                     Time  Overpotential       dQ_dV  dVoltage/dt  dEnergy/dt  \
cell_num cycle
5        26     6109.8185      -0.008888   64.516129     0.000282    0.032258
         26     6110.8186      -0.008755   64.516129     0.000133    0.016129
         26     6111.8187      -0.008557  129.032258     0.000198    0.032258
         26     6112.8189      -0.008305   64.516129     0.000252    0.016129
         26     6113.8190      -0.008122   64.516129     0.000183    0.032258

                ...    Energy-2  Capacity-2     Time-2  Overpotential-2  \
cell_num cycle  ...
5        26     ...  148.080645   87.032258  6107.8183        -0.009385
         26     ...  148.096774   87.032258  6108.8185        -0.009170
         26     ...  148.129032   87.064516  6109.8185        -0.008888
         26     ...  148.145161   87.064516  6110.8186        -0.008755
         26     ...  148.177419   87.096774  6111.8187        -0.008557

                   dQ_dV-2  dVoltage/dt-2  dEnergy/dt-2  dCapacity/dt-2  \
cell_num cycle
5        26      64.516129       0.000154      0.032258        0.032258
         26      64.516129       0.000215      0.016129        0.000000
         26      64.516129       0.000282      0.032258        0.032258
         26      64.516129       0.000133      0.016129        0.000000
         26     129.032258       0.000198      0.032258        0.032258

                dOverpotential/dt-2   Power-2
cell_num cycle
5        26                0.000154  0.005628
         26                0.000215  0.005628
         26                0.000282  0.005629
         26                0.000133  0.005629
         26                0.000198  0.005629

[5 rows x 65 columns]

In [64]:
new_col = "shifted"
df = ds.xCC
series_data = ds.yCC        
if new_col is None:
    base = series_data.name or "series"
    new_col = f"shifted_{base}"

out = df.copy()
out[new_col] = 0.0

cell_idx = df.index.get_level_values("cell_num")
cycle_idx = df.index.get_level_values("cycle")
uniq = set(zip(cell_idx, cycle_idx))
uniq

{(26, 21),
 (50, 6),
 (42, 2),
 (28, 67),
 (29, 32),
 (8, 9),
 (19, 18),
 (5, 83),
 (11, 14),
 (50, 91),
 (29, 68),
 (41, 42),
 (33, 38),
 (34, 3),
 (25, 34),
 (39, 81),
 (44, 47),
 (45, 12),
 (10, 54),
 (2, 50),
 (3, 15),
 (22, 28),
 (14, 24),
 (12, 100),
 (13, 65),
 (46, 13),
 (38, 9),
 (24, 74),
 (43, 87),
 (49, 18),
 (35, 83),
 (36, 48),
 (15, 25),
 (1, 90),
 (7, 21),
 (48, 22),
 (5, 60),
 (46, 98),
 (30, 4),
 (9, 67),
 (28, 80),
 (29, 45),
 (41, 19),
 (5, 96),
 (33, 15),
 (25, 11),
 (44, 24),
 (10, 31),
 (2, 27),
 (22, 5),
 (34, 16),
 (20, 81),
 (25, 47),
 (39, 94),
 (12, 77),
 (45, 25),
 (31, 90),
 (23, 86),
 (3, 28),
 (43, 64),
 (14, 37),
 (15, 2),
 (1, 67),
 (47, 34),
 (26, 11),
 (18, 7),
 (35, 96),
 (36, 61),
 (9, 44),
 (28, 57),
 (29, 22),
 (21, 18),
 (5, 73),
 (11, 4),
 (52, 5),
 (9, 80),
 (50, 81),
 (10, 8),
 (8, 84),
 (41, 32),
 (54, 51),
 (33, 28),
 (25, 24),
 (53, 6),
 (39, 71),
 (44, 37),
 (45, 2),
 (31, 67),
 (10, 44),
 (51, 45),
 (2, 40),
 (3, 5),
 (43, 41),
 (22, 18),
 (14, 14),
 (20, 94),
 (12, 90),
 (13, 55),
 (23, 99),
 (24, 64),
 (43, 77),
 (17, 25),
 (35, 73),
 (36, 38),
 (28, 34),
 (1, 80),
 (7, 11),
 (47, 47),
 (48, 12),
 (40, 8),
 (5, 50),
 (6, 15),
 (46, 88),
 (9, 57),
 (50, 58),
 (29, 35),
 (21, 31),
 (7, 96),
 (41, 9),
 (33, 5),
 (6, 51),
 (39, 48),
 (44, 14),
 (30, 79),
 (50, 94),
 (10, 21),
 (8, 97),
 (34, 6),
 (20, 71),
 (39, 84),
 (12, 67),
 (13, 32),
 (31, 80),
 (4, 63),
 (32, 45),
 (23, 76),
 (24, 41),
 (51, 58),
 (3, 18),
 (16, 37),
 (43, 54),
 (35, 50),
 (36, 15),
 (1, 57),
 (47, 24),
 (45, 100),
 (5, 27),
 (17, 38),
 (36, 51),
 (9, 34),
 (28, 47),
 (29, 12),
 (48, 25),
 (21, 8),
 (40, 21),
 (5, 63),
 (6, 28),
 (50, 71),
 (8, 74),
 (54, 41),
 (33, 18),
 (19, 83),
 (20, 48),
 (25, 14),
 (39, 61),
 (12, 44),
 (30, 92),
 (31, 57),
 (32, 22),
 (23, 53),
 (51, 35),
 (2, 30),
 (43, 31),
 (22, 8),
 (35, 27),
 (14, 4),
 (55, 5),
 (1, 34),
 (12, 80),
 (13, 45),
 (23, 89),
 (24, 54),
 (17, 15),
 (36, 28),
 (9, 11),
 (28, 24),
 (1, 70),
 (47, 37),
 (48, 2),
 (5, 40),
 (6, 5),
 (46, 78),
 (9, 47),
 (50, 48),
 (29, 25),
 (21, 21),
 (7, 86),
 (8, 51),
 (27, 64),
 (19, 60),
 (39, 38),
 (44, 4),
 (30, 69),
 (31, 34),
 (10, 11),
 (51, 12),
 (8, 87),
 (54, 54),
 (20, 61),
 (12, 57),
 (13, 22),
 (31, 70),
 (4, 53),
 (32, 35),
 (23, 66),
 (24, 31),
 (51, 48),
 (43, 44),
 (16, 27),
 (35, 40),
 (36, 5),
 (55, 18),
 (1, 47),
 (47, 14),
 (34, 81),
 (45, 90),
 (5, 17),
 (46, 55),
 (17, 28),
 (3, 93),
 (9, 24),
 (28, 37),
 (29, 2),
 (40, 11),
 (27, 41),
 (6, 18),
 (30, 46),
 (50, 61),
 (7, 99),
 (8, 64),
 (54, 31),
 (19, 73),
 (20, 38),
 (39, 51),
 (12, 34),
 (30, 82),
 (31, 47),
 (4, 30),
 (32, 12),
 (23, 43),
 (24, 8),
 (51, 25),
 (43, 21),
 (35, 17),
 (41, 97),
 (1, 24),
 (13, 35),
 (4, 66),
 (45, 67),
 (24, 44),
 (16, 40),
 (17, 5),
 (3, 70),
 (36, 18),
 (28, 14),
 (47, 27),
 (26, 53),
 (5, 30),
 (46, 68),
 (50, 38),
 (8, 41),
 (54, 8),
 (27, 54),
 (19, 50),
 (20, 15),
 (39, 28),
 (30, 59),
 (31, 24),
 (23, 20),
 (51, 2),
 (29, 100),
 (54, 44),
 (41, 74),
 (20, 51),
 (12, 47),
 (13, 12),
 (4, 43),
 (32, 25),
 (23, 56),
 (24, 21),
 (10, 86),
 (16, 17),
 (43, 34),
 (35, 30),
 (55, 8),
 (1, 37),
 (47, 4),
 (34, 71),
 (45, 80),
 (5, 7),
 (46, 45),
 (38, 41),
 (3, 83),
 (9, 14),
 (50, 15),
 (7, 53),
 (27, 31),
 (19, 27),
 (39, 5),
 (30, 36),
 (50, 51),
 (29, 77),
 (8, 54),
 (54, 21),
 (19, 63),
 (20, 28),
 (39, 41),
 (12, 24),
 (31, 37),
 (4, 20),
 (32, 2),
 (23, 33),
 (51, 15),
 (43, 11),
 (35, 7),
 (41, 87),
 (1, 14),
 (34, 48),
 (45, 57),
 (46, 22),
 (10, 99),
 (16, 30),
 (2, 95),
 (3, 60),
 (49, 27),
 (28, 4),
 (14, 69),
 (15, 34),
 (26, 43),
 (46, 58),
 (50, 28),
 (42, 24),
 (8, 31),
 (27, 44),
 (19, 40),
 (20, 5),
 (39, 18),
 (30, 49),
 (31, 14),
 (23, 10),
 (29, 90),
 (41, 64),
 (12, 37),
 (13, 2),
 (25, 56),
 (4, 33),
 (45, 34),
 (24, 11),
 (10, 76),
 (16, 7),
 (2, 72),
 (14, 46),
 (45, 70),
 (46, 35),
 (38, 31),
 (3, 73),
 (50, 5),
 (7, 43),
 (8, 8),
 (26, 56),
 (27, 21),
 (19, 17),
 (11, 13),
 (30, 26),
 (29, 67),
 (8, 44),
 (54, 11),
 (41, 41),
 (20, 18),
 (12, 14),
 (4, 10),
 (44, 46),
 (23, 23),
 (10, 53),
 (41, 77),
 (1, 4),
 (34, 38),
 (45, 47),
 (46, 12),
 (10, 89),
 (38, 8),
 (2, 85),
 (3, 50),
 (43, 86),
 (49, 17),
 (14, 59),
 (15, 24),
 (7, 20),
 (26, 33),
 (30, 3),
 (50, 18),
 (42, 14),
 (28, 79),
 (7, 56),
 (8, 21),
 (19, 30),
 (5, 95),
 (11, 26),
 (39, 8),
 (31, 4),
 (29, 80),
 (41, 54),
 (33, 50),
 (34, 15),
 (25, 46),
 (39, 93),
 (45, 24),
 (10, 66),
 (2, 62),
 (3, 27),
 (22, 40),
 (14, 36),
 (26, 10),
 (46, 25),
 (18, 6),
 (38, 21),
 (3, 63),
 (49, 30),
 (35, 95),
 (36, 60),
 (7, 33),
 (26, 46),
 (27, 11),
 (19, 7),
 (5, 72),
 (11, 3),
 (30, 16),
 (9, 79),
 (28, 92),
 (29, 57),
 (41, 31),
 (33, 27),
 (12, 4),
 (25, 23),
 (53, 5),
 (44, 36),
 (10, 43),
 (2, 39),
 (22, 17),
 (14, 13),
 (33, 63),
 (34, 28),
 (20, 93),
 (12, 89),
 (45, 37),
 (46, 2),
 (23, 98),
 (2, 75),
 (3, 40),
 (43, 76),
 (49, 7),
 (35, 72),
 (14, 49),
 (15, 14),
 (1, 79),
 (7, 10),
 (26, 23),
 (9, 56),
 (42, 4),
 (28, 69),
 (29, 34),
 (8, 11),
 (41, 8),
 (5, 85),
 (11, 16),
 (44, 13),
 (50, 93),
 (10, 20),
 (29, 70),
 (8, 96),
 (41, 44),
 (33, 40),
 (34, 5),
 (25, 36),
 (39, 83),
 (44, 49),
 (45, 14),
 (31, 79),
 (10, 56),
 (51, 57),
 (2, 52),
 (3, 17),
 (22, 30),
 (14, 26),
 (13, 67),
 (38, 11),
 (24, 76),
 (43, 89),
 (35, 85),
 (36, 50),
 (28, 46),
 (1, 92),
 (7, 23),
 (48, 24),
 (40, 20),
 (5, 62),
 (6, 27),
 (46, 100),
 (30, 6),
 (9, 69),
 (28, 82),
 (29, 47),
 (41, 21),
 (33, 17),
 (25, 13),
 (44, 26),
 (30, 91),
 (10, 33),
 (2, 29),
 (22, 7),
 (14, 3),
 (34, 18),
 (20, 83),
 (39, 96),
 (12, 79),
 (31, 92),
 (23, 88),
 (24, 53),
 (3, 30),
 (43, 66),
 (36, 27),
 (15, 4),
 (1, 69),
 (47, 36),
 (26, 13),
 (18, 9),
 (36, 63),
 (9, 46),
 (28, 59),
 (29, 24),
 (21, 20),
 (5, 75),
 (44, 3),
 (50, 83),
 (10, 10),
 (8, 86),
 (54, 53),
 (33, 30),
 (20, 60),
 (25, 26),
 (39, 73),
 (45, 4),
 (31, 69),
 (32, 34),
 (23, 65),
 (51, 47),
 (2, 42),
 (3, 7),
 (43, 43),
 (22, 20),
 (35, 39),
 (14, 16),
 (55, 17),
 (20, 96),
 (12, 92),
 (13, 57),
 (24, 66),
 (43, 79),
 (17, 27),
 (35, 75),
 (36, 40),
 (9, 23),
 (28, 36),
 (1, 82),
 (47, 49),
 (48, 14),
 (40, 10),
 (5, 52),
 (6, 17),
 (46, 90),
 (9, 59),
 (50, 60),
 (29, 37),
 (21, 33),
 (7, 98),
 (41, 11),
 (33, 7),
 (19, 72),
 (25, 3),
 (39, 50),
 (44, 16),
 (30, 81),
 (31, 46),
 (50, 96),
 (10, 23),
 (51, 24),
 (8, 99),
 (20, 73),
 (39, 86),
 (12, 69),
 (13, 34),
 (31, 82),
 (4, 65),
 (32, 47),
 (23, 78),
 (24, 43),
 (43, 56),
 (16, 39),
 (35, 52),
 (36, 17),
 (28, 13),
 (1, 59),
 (47, 26),
 (5, 29),
 (46, 67),
 (17, 40),
 (9, 36),
 (28, 49),
 (29, 14),
 (48, 27),
 (21, 10),
 (40, 23),
 (6, 30),
 (50, 73),
 (8, 76),
 (54, 43),
 (19, 85),
 (20, 50),
 (25, 16),
 (39, 63),
 (12, 46),
 (30, 94),
 (31, 59),
 (4, 42),
 (32, 24),
 (23, 55),
 (24, 20),
 (51, 37),
 (43, 33),
 (35, 29),
 (14, 6),
 (55, 7),
 (1, 36),
 (47, 3),
 (12, 82),
 (13, 47),
 (45, 79),
 (24, 56),
 (17, 17),
 (36, 30),
 (9, 13),
 (28, 26),
 (47, 39),
 (48, 4),
 (5, 42),
 (6, 7),
 (46, 80),
 (50, 50),
 (21, 23),
 (7, 88),
 (8, 53),
 (54, 20),
 (27, 66),
 (19, 62),
 (20, 27),
 (39, 40),
 (44, 6),
 (30, 71),
 (31, 36),
 (10, 13),
 (23, 32),
 (51, 14),
 (43, 10),
 (8, 89),
 (54, 56),
 (41, 86),
 (20, 63),
 (12, 59),
 (13, 24),
 (4, 55),
 (32, 37),
 (23, 68),
 (24, 33),
 (10, 98),
 (16, 29),
 (43, 46),
 (35, 42),
 (36, 7),
 (55, 20),
 (28, 3),
 (1, 49),
 (47, 16),
 (45, 92),
 (5, 19),
 (46, 57),
 (17, 30),
 (3, 95),
 (9, 26),
 (50, 27),
 (29, 4),
 (40, 13),
 (27, 43),
 (6, 20),
 (19, 39),
 (39, 17),
 (30, 48),
 (50, 63),
 (8, 66),
 (54, 33),
 (19, 75),
 (20, 40),
 (39, 53),
 (12, 36),
 (31, 49),
 (4, 32),
 (32, 14),
 (23, 45),
 (24, 10),
 (51, 27),
 (43, 23),
 (16, 6),
 (35, 19),
 (41, 99),
 (1, 26),
 (13, 37),
 (45, 69),
 (46, 34),
 (16, 42),
 (17, 7),
 (3, 72),
 (9, 3),
 (36, 20),
 (28, 16),
 (26, 55),
 (5, 32),
 (46, 70),
 (50, 40),
 (8, 43),
 (54, 10),
 (27, 56),
 (19, 52),
 (20, 17),
 (39, 30),
 (12, 13),
 (30, 61),
 (31, 26),
 (23, 22),
 (51, 4),
 (41, 76),
 (1, 3),
 (12, 49),
 (13, 14),
 (4, 45),
 (32, 27),
 (45, 46),
 (24, 23),
 (10, 88),
 (16, 19),
 (2, 84),
 (35, 32),
 (1, 39),
 (14, 58),
 (47, 6),
 (34, 73),
 (45, 82),
 (5, 9),
 (46, 47),
 (38, 43),
 (3, 85),
 (9, 16),
 (50, 17),
 (42, 13),
 (7, 55),
 (8, 20),
 (27, 33),
 (19, 29),
 (11, 25),
 (39, 7),
 (30, 38),
 (31, 3),
 (29, 79),
 (8, 56),
 (54, 23),
 (41, 53),
 (20, 30),
 (12, 26),
 (31, 39),
 (4, 22),
 (32, 4),
 (23, 35),
 (10, 65),
 (43, 13),
 (35, 9),
 (41, 89),
 (1, 16),
 (45, 59),
 (46, 24),
 (38, 20),
 (2, 97),
 (3, 62),
 (49, 29),
 (14, 71),
 (15, 36),
 (7, 32),
 (26, 45),
 (27, 10),
 (30, 15),
 (50, 30),
 (42, 26),
 (28, 91),
 (8, 33),
 (27, 46),
 (19, 42),
 (20, 7),
 (39, 20),
 (12, 3),
 (30, 51),
 (31, 16),
 (23, 12),
 (29, 92),
 (41, 66),
 (33, 62),
 (34, 27),
 (13, 4),
 (4, 35),
 (45, 36),
 (10, 78),
 (16, 9),
 (2, 74),
 (3, 39),
 (49, 6),
 (14, 48),
 (26, 22),
 (46, 37),
 (38, 33),
 (3, 75),
 (50, 7),
 (42, 3),
 (7, 45),
 (8, 10),
 (26, 58),
 (27, 23),
 (19, 19),
 (11, 15),
 (30, 28),
 (29, 69),
 (41, 43),
 (33, 39),
 (12, 16),
 (4, 12),
 (44, 48),
 (10, 55),
 (2, 51),
 (22, 29),
 (1, 6),
 (34, 40),
 (45, 49),
 (46, 14),
 (38, 10),
 (2, 87),
 (3, 52),
 (43, 88),
 (49, 19),
 (35, 84),
 (14, 61),
 (15, 26),
 (7, 22),
 (26, 35),
 (30, 5),
 (9, 68),
 (42, 16),
 (28, 81),
 (29, 46),
 (8, 23),
 (5, 97),
 (11, 28),
 (31, 6),
 (23, 2),
 (29, 82),
 (41, 56),
 (33, 52),
 (34, 17),
 (25, 48),
 (39, 95),
 (45, 26),
 (31, 91),
 (10, 68),
 (2, 64),
 (3, 29),
 (22, 42),
 (14, 38),
 (15, 3),
 (26, 12),
 (18, 8),
 (38, 23),
 (35, 97),
 (36, 62),
 (28, 58),
 (7, 35),
 (27, 13),
 (19, 9),
 (5, 74),
 (11, 5),
 (30, 18),
 (9, 81),
 (28, 94),
 (29, 59),
 (41, 33),
 (33, 29),
 (25, 25),
 (53, 7),
 (4, 2),
 (44, 38),
 (45, 3),
 (10, 45),
 (2, 41),
 (3, 6),
 (22, 19),
 (14, 15),
 (34, 30),
 (20, 95),
 (12, 91),
 (46, 4),
 (23, 100),
 (24, 65),
 (3, 42),
 (43, 78),
 (49, 9),
 (35, 74),
 (14, 51),
 (15, 16),
 (1, 81),
 (7, 12),
 (47, 48),
 (26, 25),
 (9, 58),
 (28, 71),
 (29, 36),
 (21, 32),
 (41, 10),
 (5, 87),
 (33, 6),
 (44, 15),
 (50, 95),
 (10, 22),
 (8, 98),
 (33, 42),
 (34, 7),
 (20, 72),
 (25, 38),
 (39, 85),
 (44, 51),
 (45, 16),
 (31, 81),
 (10, 58),
 (23, 77),
 (51, 59),
 (2, 54),
 (3, 19),
 (43, 55),
 (22, 32),
 (14, 28),
 (26, 2),
 (24, 78),
 (43, 91),
 (17, 39),
 (35, 87),
 (36, 52),
 (28, 48),
 (1, 94),
 (29, 13),
 (48, 26),
 (40, 22),
 (5, 64),
 (6, 29),
 (9, 71),
 (50, 72),
 (29, 49),
 (41, 23),
 (33, 19),
 (19, 84),
 (25, 15),
 (39, 62),
 (44, 28),
 (30, 93),
 (10, 35),
 (2, 31),
 (22, 9),
 (14, 5),
 (20, 85),
 (39, 98),
 (12, 81),
 (13, 46),
 (31, 94),
 (23, 90),
 (24, 55),
 (43, 68),
 (36, 29),
 (15, 6),
 (28, 25),
 ...}

In [89]:
from training_utils import _pick_with_nvml, _pick_with_nvidia_smi, pick_idle_gpu

_pick_with_nvidia_smi()

1

In [91]:
_pick_with_nvml()

In [87]:
pick_idle_gpu()

1

In [100]:
from typing import List, Optional, Iterable

a = [1, 2, 3]
b = "a"
isinstance(a, Iterable)

True

In [105]:
tf.config.set_visible_devices(tf.config.list_physical_devices('GPU')[0], 'GPU')

RuntimeError: Visible devices cannot be modified after being initialized

In [99]:
ds.add_C_rate()
df = ds.xCC
test_ids = ['0.8', '0.5']
by='c-rate'
cycles_all = df.index.get_level_values(by).unique()
train = [c for c in cycles_all if c not in test_ids]

mask_tr = df.index.get_level_values(by).isin(train)
mask_te = df.index.get_level_values(by).isin(test_ids)

x_tr = df.loc[mask_tr, :]
x_te = df.loc[mask_te, :]

In [100]:
len(x_tr)/256, len(df)

(20104.03515625, 9785838)

In [95]:
df.index.get_level_values("c-rate").unique()

Index(['0.33', '0.5', '0.8', '1', 'stepped'], dtype='object', name='c-rate')

In [102]:
class Joe:
    def __init__(self, you):
        self.you = you

j = Joe("me")
a = type(j)("me")

In [5]:
from omegaconf import OmegaConf

cfg = OmegaConf.load("/usr/project/chembattery/chembattery_refac/configs/train_lfp_reproduce.yaml")

data_path = os.path.join(cfg.data.data_dir, cfg.data.date_str)
scale_path = os.path.join(cfg.data.data_dir, cfg.data.get("scaler_date", '⚖️'))
features = cfg.data.get("features", None)
dataset = Dataset(data_path, scale_path, features)

trim_to = cfg.data.get("dataset_max", None)
if trim_to is not None:
    dataset.trim(int(trim_to))

prepros_steps = cfg.data.get("preprocessing", [])
print("[reprros: ]", prepros_steps)

print("splitting data")
split_on = cfg.data.get("split_on", "cell_num")
test_split = [str(id) for id in cfg.data.test_split.split(',')]
X_train, X_test, y_train, y_test, scaler = dataset.get_scaled_split(test_split, split_on)

[reprros: ] []
splitting data

In [109]:
X_train, X_test, y_train, y_test = dataset.split(test_split, split_on)

In [115]:
for value in X_train.index.get_level_values("cell_num").unique():
    if value in test_split:
        print(value)

In [111]:
dataset.xCC

                    Energy   Capacity  Voltage-8    Energy-8   Power-8
cell_num cycle
1        2       17.887097  11.096774   3.301269   17.758065  0.003499
         2       17.903226  11.096774   3.301331   17.774194  0.003499
         2       17.919355  11.096774   3.301406   17.790323  0.003499
         2       17.935484  11.129032   3.301425   17.806452  0.003500
         2       17.951613  11.129032   3.301505   17.822581  0.003500
...                    ...        ...        ...         ...       ...
55       21     128.387097  74.129032   3.596687  128.177419  0.005719
         21     128.419355  74.161290   3.596916  128.209677  0.005719
         21     128.435484  74.161290   3.597026  128.241935  0.005719
         21     128.467742  74.161290   3.597262  128.258065  0.005720
         21     128.483871  74.193548   3.597437  128.290323  0.005720

[9785838 rows x 5 columns]

In [116]:
model = MLP(cfg)
model.load_model_state("/usr/project/chembattery/chembattery_refac/runs/reproduced_results_1/model/models/model_0")

2025-07-02 20:16:57.223218: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1639] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 692 MB memory:  -> device: 0, name: NVIDIA GeForce RTX 3090, pci bus id: 0000:1a:00.0, compute capability: 8.6
2025-07-02 20:16:57.223763: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1639] Created device /job:localhost/replica:0/task:0/device:GPU:1 with 22289 MB memory:  -> device: 1, name: NVIDIA GeForce RTX 3090, pci bus id: 0000:67:00.0, compute capability: 8.6
2025-07-02 20:16:57.224166: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1639] Created device /job:localhost/replica:0/task:0/device:GPU:2 with 21669 MB memory:  -> device: 2, name: NVIDIA GeForce RTX 3090, pci bus id: 0000:68:00.0, compute capability: 8.6

In [119]:
X_train, X_test, y_train, y_test, scaler = dataset.get_scaled_split(test_split, split_on)
pred_y = model.predict(X_test)

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but RobustScaler was fitted with feature names
  warnings.warn(

   74/67568 [..............................] - ETA: 2:21

2025-07-02 20:17:46.738878: I tensorflow/compiler/xla/stream_executor/cuda/cuda_blas.cc:606] TensorFloat-32 will be used for the matrix multiplication. This will only be logged once.

67568/67568 [==============================] - 142s 2ms/step

In [120]:
np.sum((pred_y-y_test)**2)**0.5

21902.317066767453

In [13]:
from eval_utils import compute_metrics, print_metrics

In [10]:
preds = []
for i in range(5):
    model = MLP(cfg)
    model.load_model_state(f"/usr/project/chembattery/chembattery_refac/runs/reproduced_results_1/model/models/model_{i}")
    X_train, X_test, y_train, y_test, scaler = dataset.get_scaled_split(test_split, split_on)
    y_pred = model.predict(X_test)
    metrics = compute_metrics(y_pred, y_test)
    print(i)
    print_metrics(metrics)
    print()
    preds.append(y_pred)

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but RobustScaler was fitted with feature names
  warnings.warn(

67568/67568 [==============================] - 133s 2ms/step
0

    1/67568 [..............................] - ETA: 1:11:41

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but RobustScaler was fitted with feature names
  warnings.warn(

67568/67568 [==============================] - 132s 2ms/step
1

    1/67568 [..............................] - ETA: 1:13:14

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but RobustScaler was fitted with feature names
  warnings.warn(

67568/67568 [==============================] - 133s 2ms/step
2

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but RobustScaler was fitted with feature names
  warnings.warn(

67568/67568 [==============================] - 133s 2ms/step
3

    1/67568 [..............................] - ETA: 1:10:33

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but RobustScaler was fitted with feature names
  warnings.warn(

67568/67568 [==============================] - 133s 2ms/step
4

In [17]:
ensemble_preds = np.array(preds).reshape(5, -1)
ensemble_preds = np.mean(ensemble_preds, axis=0)
metrics = compute_metrics(ensemble_preds, y_test)
print(i)
print(print_metrics(metrics))
print()

4

        "MAE": 0.026895336614543245,
        "Mean Error": -0.011644831910466467,
        "RMSE": 0.03878666672794386,
        "% RMSE": 51.01834028644382,
        "RMSPE": 33716.723830208764,
        "R²": 0.6824957795726763

In [15]:
for i,y_pred in enumerate(preds):
    metrics = compute_metrics(y_pred, y_test)
    print(i)
    print(print_metrics(metrics))
    print()

0

        "MAE": 0.031669625880544824,
        "Mean Error": -0.013317887149084884,
        "RMSE": 0.04535128942980448,
        "% RMSE": 59.65316722851638,
        "RMSPE": 43967.90471602293,
        "R²": 0.6428594708234547


1

        "MAE": 0.025596248099476877,
        "Mean Error": 0.0027670405088001185,
        "RMSE": 0.037799170309935466,
        "% RMSE": 49.71942928078887,
        "RMSPE": 36666.51100762615,
        "R²": 0.7304664451409433


2

        "MAE": 0.04462454734717367,
        "Mean Error": -0.02826921760082949,
        "RMSE": 0.07923569669269127,
        "% RMSE": 104.22328283726358,
        "RMSPE": 44142.33064643632,
        "R²": 0.31143946044485815


3

        "MAE": 0.02402684430083716,
        "Mean Error": 0.010083933262275123,
        "RMSE": 0.03474182419074962,
        "% RMSE": 45.69792555694128,
        "RMSPE": 33584.99183263324,
        "R²": 0.7134036763069967


4

        "MAE": 0.04245264589170171,
        "Mean Error": -0.029488028925903787,
        "RMSE": 0.07460972674436435,
        "% RMSE": 98.13847769961114,
        "RMSPE": 32830.52697024543,
        "R²": 0.2092657585367057

In [ ]:
np.mean(np.array([
    [1, 2, 3],
    [2, 3, 4]
]), axis=0)

In [123]:
from sklearn.metrics import mean_squared_error

mean_squared_error(pred_y, y_test, squared=False)

61.69414919269864

In [125]:
print(np.sum((pred_y-y_test)**2/len(pred_y))**0.5)

61.69414919269863

In [128]:
s = RobustScaler()
a = np.random.rand(100).reshape(1, -1)
s.fit(a)
b = s.transform(a)
c = s.transform(b)
print(np.max(np.abs(a-b)))

0.9958682421754749

In [ ]:
print(np.max(np.abs(c-b)))

In [129]:
[1]*10

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]